<div class="header">
  <input type="text" class="focus" name="flags.rollgroups.config.groups.{{cidx}}.label" value="{{group.label}}" placeholder="{{localize 'ROLLGROUPS.GroupPlaceholder'}}">
</div>
{{#each group.rows as |row idx|}}
<div class="row">
  <input type="checkbox" name="flags.rollgroups.config.groups.{{../cidx}}.parts" value="{{idx}}" {{checked row.checked}}>
</div>
{{/each}}
<a data-action="delete" data-idx="{{cidx}}">
  <i class="fa-solid fa-trash"></i>
</a>
