<form class="rollgroups">
  <div class="inputs">
    <div class="legend">
      <div class="damage-header">{{localize "ROLLGROUPS.CONFIG.FORMULA"}}</div>
      {{#each parts as |part|}}
      <div class="damage-row" data-tooltip="{{label}}">{{label}}</div>
      {{/each}}
      <a data-action="add"><i class="fa-solid fa-plus"></i></a>
    </div>
    {{#each groups as |group|}}
    <div class="group">
      {{{group}}}
      <a data-action="delete"><i class="fa-solid fa-trash"></i></a>
    </div>
    {{/each}}
  </div>
  {{#if versatile}}
  <div class="form-group">
    <label data-tooltip="ROLLGROUPS.VersatileTooltip">{{localize "ROLLGROUPS.VersatileGroup"}}</label>
    <div class="form-fields">
      <select name="versatile" data-dtype="Number">
        {{selectOptions choices selected=selected labelAttr="label" nameAttr="value" blank=""}}
      </select>
    </div>
  </div>
  {{/if}}
  <div class="footer">
    <button name="submit"><i class="fa-solid fa-save"></i> {{localize "Save"}}</button>
  </div>
</form>
