<form>
  <p class="note">{{localize "ROLLGROUPS.SaveConfigDetails"}}</p>
  {{#each abilities}}
  <div class="form-group">
    <label>{{label}}</label>
    <div class="form-fields">
      <input type="checkbox" name="saves" value="{{key}}" {{checked checked}} {{disabled disabled}}>
    </div>
  </div>
  {{/each}}
  <div class="footer">
    <button name="submit">
      <i class="fa-solid fa-save"></i> {{localize "Save"}}
    </button>
  </div>
</form>
